@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');
body {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:'vide1 vcard1 vide2' 
                        'vide3 vcard2 vide4'
                        'vide5 vide6 vide7';
    margin : 10px;
    width: 100%;
    height: 1000px;
    background-color: rgb(116, 116, 116);
    font-family: 'Sansita Swashed', cursive;
}
.face {
    grid-area: vcard1;
    display: flex;
    background-image: url("fond.jpg");
    border-radius: 20px;
    background-size: cover;
    box-shadow: 8px 8px 4px rgb(53, 53, 53);
}
.me {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: solid 2px black;
    margin-top: 60px;
    margin-left: 20px;
}
.textface {
    grid-area: vcard1;
    text-align: center;
    margin-left: 30%;
    margin-top: 5%;
}
.textfaceh2 {
    grid-area: vcard1;
    text-align: center;
    font-size: small;
    margin-left: 40%;
    margin-top: 14%;
    margin-right: 10%;
}
.lorem {
    grid-area: vcard1;
    text-align: justify;
    font-size: small;
    margin-left: 40%;
    margin-top: 25%;
    margin-right: 10%;
}
.git {
    width: 40px;
    margin-right: 60px;
}
.linkedin {
    width: 40px;
}
.nav {
    grid-area: vcard1;
    margin-left: 40%;
    margin-top: 40%;
    margin-right: 10%;
    text-align: center;
    filter: brightness(0);
}